main {
    background-color:#F0F8FF;
    margin-left:10%;
    margin-right:10%;
    padding:20px;
    text-align:center;
    line-height:10p;
    font-family:'Roboto Condensed', sans-serif;
}

h1 {
    font-size:60px;
}

table {
    border-collapse: collapse;
    border:1px solid #008B8B;
    width:100%;
    text-align:center;
}

tr {
    height:20px;
    border:1px solid #008B8B;
}

.header {
    background-color:#008080;
    color:white;
    font-size:20px;
    font-style:bold;
    line-height:50px;
}

td {
    line-height:30px;
}

form {
    font-size:15px;
    font-style:bold;
}

.status {
    color:white;
    font-style:bold;
    background-color:green;
}


.delete {
    background-color:grey;
    height:30px;
    color:white;
    font-style:bold;
}

#addbutton {
    font-size:15px;
    font-style:bold;
    background-color:#FF4500;
    color:white;
}

.newline {
    text-align:center;
    background-color:pink;
    margin-left:10%;
    margin-right:10%;
    padding:20px;
    font-family:'Roboto Condensed', sans-serif;

}